*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.top{
    margin: 4vh;
    text-align: center;
}
.Controll a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    color: black;
}
.Controll a{
    position: relative;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    color: black;
}
.Controll a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    border-radius: 5px;
    background: #000000;
    transform: scaleX(0);
    transition: .5s;
}
.Controll a:hover::after{
    transform: scaleX(1);
}
.Introduction{
    padding: 150px;
    height: 100vh;
}
.Introduction p{
    text-indent: 20px;
    font-size: 100px;
}
.Introduction h1{
    text-decoration: underline;
}

@media  screen and (max-width: 650px) {
    .Controll a{
        text-decoration: none;
        margin-left: 40px;
        font-size: 15px;
        color: black;
    }
    .Controll a{
        position: relative;
        text-decoration: none;
        margin-left: 10px;
        font-size: 15px;
        color: black;
    }
    .Controll a::after{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -6px;
        height: 3px;
        border-radius: 5px;
        background: #000000;
        transform: scaleX(0);
        transition: .5s;
    }
        
    .Introduction p{
        font-size: 50px;
        text-align: left;
}
    .Introduction h1{
        text-decoration: underline;
        font-size: 20px;
}
}